---
import { CardExperience } from '@/shared/components/Cards/Cards'
import { getCollection, render } from 'astro:content'
import ProfileSection from '@/layouts/ProfileSection.astro'
import { DownloadPdf } from '@/shared/components/DownloadPdf/DownloadPdf'
import normalizeTech from '@/shared/utils/utils'
import ArrowCard from '../shared/ArrowCard.astro'

const experiences = await getCollection('experience')
---

<ProfileSection id="experience" heading="Experiencia">
  <div class="grid w-5/6 grid-cols-1 gap-1">
    <div class="glitch-wrapper">
      <span data-text="2025" class="glitch text-rice mt-1.5 text-center text-8xl font-bold"
        >2025</span
      >
    </div>
    <ArrowCard class="w-15 h-15 mb-8 mt-8" />

    {
      await Promise.all(
        experiences.map(async (exp: any) => {
          const { data } = exp

          const { position, company, employment_type, startDate, endDate, tech, id, location } =
            data

          const { Content } = await render(exp)

          return (
            <>
              <CardExperience
                company={`${company} · ${employment_type}`}
                startDate={startDate}
                finishDate={endDate}
                skills={normalizeTech(tech)}
                pageId={id}
                position={position}
                location={location}
                client:load
              >
                <Content />
              </CardExperience>
              <ArrowCard class="w-15 h-15 mb-8 mt-8" />
            </>
          )
        }),
      )
    }
    <DownloadPdf client:load />
  </div>
</ProfileSection>
